.edit-button {
    display: flex;
    width: 24px;
    height: 24px;
    border: solid #fff 2px;
    position: relative;
    align-self: center;
    background-color: #000;
    margin: 0 0 0 18px;
    padding: 0;
}
@media screen and (max-width: 767px) {
    .edit-button {
        margin: 0 0 0 10px;
        width: 18px;
        height: 18px;
        border: solid #fff 1px;        
    }
}
.edit-button:hover {
    opacity: .6;
    cursor: pointer;
}