
.button_type_close {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 40.7px;
    height: 40.7px;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    background-image: url(./../../../../images/close.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;
    padding: 0;
    background-position: center center;
}
.button_type_close:hover {
    opacity: .6;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .button_type_close {
        right: 5px;
        top: -50px;
        width: 26px;
        height: 26px;
    }

}