/*.header__line {
    border: none;
    height: 1px;
    /*box-sizing: border-box;*/
    /*color: #545454;*/
    /*background-color:#545454;
    opacity: .7;
    margin: 36px 0 0;    
}*/
.header__line {
    
    border-bottom-style: 1px solid #545454;
    border-top: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    margin: 36px 0 0;
    opacity: .7;        
}
@media screen and (max-width: 767px) {
    .header__line {
        margin: 27px 0 0;
    }
}