.button_type_edit {
    display: flex;
    width: 24px;
    height: 24px;
    border: solid #fff 1px;
    align-self: center;
    background: rgba(0, 0, 0, 0);
    margin: 0 10px 0 18px;
    padding: 0;
    background-image: url(./../../../../images/pen.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    box-sizing:border-box;
    background-position: center center;

}
@media screen and (max-width: 767px) {
    .button_type_edit {
        margin: 0 0 0 10px;
        width: 18px;
        height: 18px;             
    }
}
.button_type_edit:hover {
    opacity: .6;
    cursor: pointer;
}