.input {
    margin: 0 auto;
    width: 358px;   
}
@media screen and (max-width: 767px) {
    .input {
        width: calc(100% - 2*22px);
    }
}
/*.input::placeholder {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;    
    color: #000;
}*/