.edit-button__pen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
@media screen and (max-width: 767px) {
    .edit-button__pen {
        width: 7.5px;
        height: 7.5px;
    }
}
