.popup__button-close {
    background-image: url(./../../../images/close-button.svg);
    position: absolute;
    right: -50px;
    top: -50px;
    width: 40px;
    height: 40px;
    /*border: none;*/
    background-color: #000;
    object-fit: scale-down;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0;
   



    /*
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;*/
}
.popup__button-close:hover {
    opacity: .6;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .popup__button-close {
        right: 0px;
        top: -70px;
    }

}