.popup__button-close {
    position: absolute;
    right: -50px;
    top: -50px;
}
.popup__button-close:hover {
    opacity: .6;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .popup__button-close {
        right: 0px;
        top: -70px;
    }

}