.profile__info-name {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    white-space: pre-wrap;
    margin: 0;
    text-align: center;
}
@media screen and (max-width: 1023px) {
    .profile__info-name {
        text-align: center;
        font-size: 27px;
        line-height: 33px;
        position: relative;
    }
}