.profile__info-name {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    white-space: pre-wrap;
    margin: 0;
}